*{
  box-sizing: border-box;
}

html,body{
  font-size: 12px;
}
body{
  font-family: 'Roboto', sans-serif;
  padding: 0.5rem;
  margin: 0;
  background: #333;
  color: #333;
}
#page{
  font-size: 1.0666rem;
  padding: 1rem;
  border-radius: 1rem;
  background: #ddd;
}
#botwatch > .container-fluid{
  background: #f0f0f0;
  padding: 0.5rem;
  border-radius: 0.5rem;
  margin: 0 0 1rem;
}
#botwatch > #dashboard.container-fluid{
  background: none;
  padding: 0;
  margin: 0;

  .row{
    margin: 0;
  }

  .col{
    font-size: 1.25rem;
    margin-top: 3.5rem;

    &:first-child{
      margin-top: 3rem;
    }

    &:last-child{
      margin-top: 0;
    }
  }

}
button,
input[type="text"],
input[type="number"],
input[type="checkbox"],
select{
  display: inline-block;
  position: relative;
  padding: 0.5rem;
  background: #dfe;
  border: 1px solid #ddd;
  border-radius: 0.25rem;
  cursor: pointer;
}
select[multiple]{
  height: 180px;
}
button:hover,
input:focus,
input:active,
select:active,
select:focus{
  border-color: #333;
  outline: none;
}
button.clear,
button.delete{
  background: #fde;
}
form{
  margin: 0;
  padding: 0;
}
.container-fluid{
  margin: 0 0 3rem;
  padding: 0;
  border-bottom: 1px solid #ddd;
}
.row{
  margin: 0 0 1rem;

  &.header{
    font-size: 0.9rem;
    font-weight: bold;
    text-transform: capitalize;
  }

  input,
  select,
  textarea,
  button{
    width: 100%;
  }
  .col{
    padding: 0 0.25rem;

    &.active{
      text-align: center;
    }
  }
}
h1#title{
  margin: 0;
  padding: 0 0 1rem;
  text-align: right;
  letter-spacing: 0.5rem;
  font-size: 5rem;
  font-weight: normal;

  img{
    display: inline-block;
    margin: 0 0.75rem 0 0;
    height: 60px;
    width: 60px;
    vertical-align: middle;
  }
}

h2{
  text-transform: capitalize;
  font-size: 2rem;
  font-weight: normal;
  margin: 0 0 1rem;
  padding: 0 0 1rem;
  border-bottom: 1px solid #ddd;

  button{
    top: -0.25rem;
    left: 0.5rem;
  }
}

h4{
  margin: 0;
}

#bots{

  .currency-base{
    margin-bottom: 2rem;
  }

  .row{
    margin: 0;
    padding: 0.25rem 0;

    &:nth-child(2n){
      background: #ddd;
      border-radius: 0.5rem;
    }

    &.header,
    &.totals{
      padding: 0.5rem 0;
    }

    &.bot{

      .col{
        padding-top: 0.5rem;

        &:nth-last-child(2){
          padding-top: 0;
        }

        &.bot-trades{
          padding: 1rem;

          > .row{
            background: #dfe;
            padding: 0.5rem;
            border-radius: 0.5rem;

            .row:nth-child(2n){
              background: none;
            }
          }
        }
      }
    }
  }
}

.main-svg{
  background: none !important;
}

.bglayer rect{
  fill: transparent !important;
}

.fadegreen{
  &-enter{
    opacity: 0;
    color: green;
  }
  &-enter-active {
    transition: color 4s 1s ease, opacity 1s ease;
  }
  &-leave-active {
    display:none;
  }
  &-leave-to{
    display:none;
  }
}

label.active,
label.trades{
  display: inline-block;
  background: #fde;
  border: 1px solid #333;
  height: 1.5rem;
  width: 1.5rem;
  text-align: center;
  cursor: pointer;
  transition: background 0.4s;

  &.clicked{
    background: #dfe;
  }

  input{
    display: none;
  }
}

label.active{
  background: #fde;
  
  &.clicked{
    background: #dfe;
  }

  i.fa{
    opacity: 0;
    transition: opacity 0.4s;
  }

  input:checked + i.fa{
    opacity:1;
  }
}

label.trades{
  background: #dfe;

  &.clicked{
    background: #fde;
  }

  i.fa{
    transition: transform 0.4s;
  }

  input:checked + i.fa{
    transform: rotate(180deg);
  }
}